<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
">

    <context:component-scan base-package="com.implementist.nisljournalmanager.dao"/>
    <context:component-scan base-package="com.implementist.nisljournalmanager.service"/>
    
    <!-- 引入Jdbc配置文件 -->
    <bean class="com.implementist.nisljournalmanager.SensitivePropertyPlaceholderConfigurer"
          p:location="classpath:jdbc.properties"
          p:fileEncoding="utf-8"/>
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" 
          init-method="init"
          destroy-method="close"> 
        
        <!-- 基本属性 -->
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/> 
        <property name="username" value="${username}" />
        <property name="password" value="${password}" /> 
        
        <!-- 初始化连接参数 -->
        <property name="maxActive" value="20" />
        <property name="initialSize" value="1" />
        <property name="minIdle" value="1" />
        
        <!-- 最大连接等待时间 -->
        <property name="maxWait" value="60000" />
        
        <!-- 两次运行空闲连接回收的间隔 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        
        <!-- 连接的空闲回收时间 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />
        
        <!-- 验证连接是否有效 -->
        <property name="validationQuery" value="SELECT Id FROM member" />
        <property name="testWhileIdle" value="true" />
        <property name="testOnBorrow" value="false" />
        <property name="testOnReturn" value="false" />
    </bean>
    
    <!-- 配置HibernateSessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
          p:dataSource-ref="dataSource">
        <property name="packagesToScan" value="com.implementist.nisljournalmanager.domain"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    
    <!-- 配置Hibernate模板 -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate"
          p:sessionFactory-ref="sessionFactory"/>
    
    <!-- 配置Hibernate事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>
    
    <!-- 通过AOP配置提供事务增强，让service包下所有Bean的所有方法拥有事务 -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="serviceMethod"
                      expression=" execution(* com.implementist.nisljournalmanager.service..*(..)) 
or execution(* com.implementist.nisljournalmanager.dao..*(..))" />
        <aop:advisor pointcut-ref="serviceMethod" advice-ref="txAdvice" />
    </aop:config>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
</beans>
