<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    
    <!-- 启动Spring容器的监听器 -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- 本工程的入口 -->
    <servlet>
        <servlet-name>ScheduledService</servlet-name>
        <servlet-class>com.implementist.artanis.service.ScheduledService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
